language: node_js
node_js:
  - "7.9.0"

os:
  - linux

branches:
  only:
    - master

addons:
   apt:
     packages:
       - libsecret-1-dev
 

before_install:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

install:
  - npm install
  - npm run vscode:prepublish

script:
  - npm run lint
  - npm test --silent