.vscode/**
.vscode-test/**
.wdio-vscode-service/**
out/test/**
test/**
src/**
**/*.map
images/Screenshot/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md

_layouts/**
Gemfile
Gemfile.lock
_site/**
assets/**
_config.yml
**/*.vsix
lib/**
.git/**
.github/**
docs/**
package-lock.json
tslint.json
.travis.yml
appveyor.yml